.courselist{
    position: relative;
    overflow: hidden;
    height: 60rem;
    margin-bottom: 5rem;
    background-color: #5650cc;
    padding: 2rem;
}

.courselist p{
    margin: 1rem 0 2rem;
}

.courselist_container{
    background: var(--color-bg1);
    padding: 4rem;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 4rem;
    height: 40rem;
    margin: 0rem auto;
    border-radius: 1rem;
}

.courselist_container p{
    margin: 1rem 0 2rem;
}